<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Car Finder</title>

    <link rel="stylesheet" type="text/css" href="styling/base.css"/>
</head>
<body>
    <%- include ('../templateFiles/header')  -%>




    <% if (listings.length == 0) { %>
        <h2 id="empty-search">No results were found.</h2>
    <% } else { %>
        <%  for (i = 0; i < listings.length; i++) { %>
            <a class="listing-container" href="<%= listings[i].listingLink %>" target="_blank" >
                <img src="../../images/car-placeholder.png">

                <div class="infoBox">
                    <div class="infoBox--headers">
                        <h3 class="vehicle_name"><%= listings[i].name %></h3>
                        <h3 class="vehicle_price"><%= listings[i].price !== null ? listings[i].price.toLocaleString('da-DK') : '-' %> kr</h3>
                    </div>
                    <span class="seperator"></span>

                    <table class="infoBox--information">
                        <tr>
                            <td>Kilometer: <%= listings[i].kilometers !== null || listings[i].kilometers === "" || listings[i].kilometers < 30 ? listings[i].kilometers : '-' %></td>
                            <td>Drivmiddel: <%= listings[i].fuelType == 'Benzin' || listings[i].fuelType == 'Diesel' ? listings[i].fuelType : 'Ukendt' %></td>
                        </tr>

                        <tr>
                            <td>Årgang: <%= listings[i].productionYear !== null ? listings[i].productionYear : '-' %></td>
                        </tr>
                    </table>
                </div>
            </a>
        <%  } %>
    <%  } %>
</body>
</html>